.slider {
  width: 100%;
  height: 100vh;
  background: url(../img/header.jpg) center no-repeat;
  background-size: 100% 100%;
  text-align: center;
}

.logo_str {
  font-family: "Raleway", sans-serif;
  font-size: 34px;
  color: aliceblue;
  margin-right: auto;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  max-width: 1245px;
  margin: 0 auto;
  padding: 40px;
}
.cart {
  margin: 0 15px 0 40px;
}

.str1 {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 36px;
  color: aliceblue;
}

.str2 {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 52px;
  color: aliceblue;
}

.str3 {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: aliceblue;
}
.block {
  width: 100%;
  max-width: 1615px;
  margin: 260px auto 60px;
}
.block_str {
  width: 100%;
  max-width: 594px;
  text-align: center;
}
.block_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.block_item {
  position: relative;
  top: 45px;
}

.nav {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}
.nav__link {
  display: inline-block;
  vertical-align: top;
  margin: 0 10px;

  color: aliceblue;
  transition: color 0.2s li;
}
.nav__link:hover {
  color: #c7b299;
}

.btn {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 14px;
  color: aliceblue;
  padding: 15px 30px;
  background: #998675;
  border-radius: 3px;
  box-shadow: 0 -3px #736357 inset;
}
